.venv
/build
__pycache__
src/dnsgauge.egg-info/dependency_links.txt
src/dnsgauge.egg-info/entry_points.txt
src/dnsgauge.egg-info/top_level.txt
src/dnsgauge.egg-info/SOURCES.txt
src/dnsgauge.egg-info/PKG-INFO
*.tar.gz
**/*.tar.gz
